* {box-sizing: border-box;}

/*! 
*
* 	normalize
*
*/

@import "normalize";
@import "bp_typography";

/*! 
* 	clearfix 
*/
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

/*!
*
* 	colors 
*
*/

body {color: #444;}
h1, h2, h3 {color: #222;}
a {color: sienna; text-decoration: none;}
a:hover, a:focus {color: maroon;text-decoration: underline;}

/*! 
*
* 	fonts 
*
*/
body {font-family: Georgia, serif; font-size: 100%;}
h1, h2, h3, h4, h5, h6 {margin-top: 0;}
h1, h2, h3 {font-family: 'Old Standard TT', serif; font-weight: 700; }

div.highlight {border-radius: 5px;}

code {background-color: #eee; font-size: 90%; line-height: 1.6; padding: 0 2px;}
pre {padding: 1em;border-radius: 6px;overflow: scroll; }

@import "syntax";

/*!
*
* 	layout 
*
*/
#wrapper {margin: 0 auto; max-width: 1000px; padding: 2em;}
