* {box-sizing: border-box;}

/*! 
*
* 	normalize
*
*/

@import "normalize";
@import "bp_typography";

/*! 
* 	clearfix 
*/
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

/*!
*
* 	colors 
*
*/

body {color: #444433; background-color: #fefefd;}
h1, h2, h3 {color: #666655;}
a {color: #a13300; text-decoration: none;}
a:hover, a:focus {color: maroon;text-decoration: underline;}

/*! 
*
* 	fonts 
*
*/
body {font-family: Georgia, serif; font-size: 100%;}
h1, h2, h3, h4, h5, h6 {margin-top: 0;}
h1, h2, h3 {font-family: 'Old Standard TT', serif; font-weight: 700; }
.sitename {font-size: 2.2em; margin-bottom: 0.4em;}
.sitename:first-letter, .sitename span {margin-right: -3px;}
.subhead {font-size: 1.55em; font-weight: 400; font-style: italic;}
.posttitle {letter-spacing: -2px; font-weight: 400; font-size: 3.2em;}
div.highlight {border-radius: 5px;}

code {background-color: #eee; font-size: 90%; line-height: 1.6; padding: 0 2px;}
pre {padding: 1em;border-radius: 6px;overflow: scroll; }

@import "syntax";

/*!
*
* 	layout 
*
*/
#wrapper {
	margin: 20px auto; 
	max-width: 1100px; 
	padding: 2em; 
	box-shadow: 0 0 10px 2px rgba(33,33,33,0.35);
	border-radius: 5px;
	background-color: white;
}

.vcard {
	display: block; 
	border-top: 1px dashed #774; 
	border-bottom: 1px dashed #774; 
	padding: 0.5em 0.15em;
}
.tel, .email {letter-spacing: 1px;}

.post {float: left; margin-right: -250px; width: 100%}

.content {margin-right: 250px;}

#sidebar, .vcard {float: right; width: 220px; }

#sidebar ul {list-style: none; padding: 0;}

#sidebar li {margin-bottom: 1em;}

#home .post {width: 30.99%; float: left; margin-right: 2%; height: 310px; border-bottom: 1px dashed #774; padding-top: 2em; overflow: auto;}

.excerpt-title {margin-bottom: 0.25em;}

p.author {margin-bottom: .5em;}
