---
layout: flowtime
title: Beginner's chess lessons
---

<div class="ft-section" data-id="section-1">
    {% include_relative slides/section1-page1.html %}
</div>
<div class="ft-section" data-id="section-2">
    {% include_relative slides/section2-page1.html %}
    {% include_relative slides/section2-page2.html %}
</div>
<div class="ft-section" data-id="section-2">
    {% include_relative slides/section3-page1.html %}
    {% include_relative slides/section3-page2.html %}
    {% include_relative slides/section3-page3.html %}
    {% include_relative slides/section3-page4.html %}
</div>
