    <script src="/javascript/brav1toolbox.js"></script>
    <script src="/javascript/flowtime.min.js"></script>
    <script type="text/javascript">
		// Configuration API test
		Flowtime.showProgress(true);
		// Flowtime.fragmentsOnSide(true);
		// Flowtime.fragmentsOnBack(true);
		// Flowtime.useHistory(false);
		// Flowtime.slideInPx(true);
		// Flowtime.sectionsSlideToTop(true);
		// Flowtime.backFromPageToTop(true);
		// Flowtime.gridNavigation(false);
		// Flowtime.useOverviewVariant(true);
		Flowtime.parallaxInPx(true);
		//
		// event management
		// Flowtime.addEventListener("flowtimenavigation", onNavigation, false);
		Flowtime.onNavigation(onNavigation);
		function onNavigation(e)
		{
			// console.log(cacheTitle + ' > ' + document.title.replace("Flowtime.js | ", ""));
			//console.log('section', e.section, 'sectionIndex', e.sectionIndex);
			//console.log('page', e.page, 'pageIndex', e.pageIndex);
			//console.log('pastSectionIndex', e.pastSectionIndex, 'pastPageIndex', e.pastPageIndex);
			//console.log('prevSection', e.prevSection);
			//console.log('nextSection', e.nextSection);
			//console.log('prevPage', e.prevPage);
			//console.log('nextPage', e.nextPage);
			//console.log('fragment', e.fragment, + 'fragmentIndex', e.fragmentIndex);
			//console.log("isOverview", e.isOverview);
			//console.log('progress:', e.progress, 'total:', e.total);
			//var value = Math.round(e.progress * 100 / e.total);
			//console.log('Completion: ' + value + '%');
		}
		// starts the application with configuration options
		Flowtime.start();
	</script>
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-46816784-1');ga('send','pageview');
    </script>
</body>
</html>
