<header class="hgroup content">
	<div class="hgroup col8">
		<h1 class="sitename"><a href="/">{{ site.sitename }}</a></h1>
		<h3 class="slogan">{{ site.slogan }}</h2>
		<p class="intro">{{ site.intro }}</p>
	</div>
	<div class="col4">
		<p class="vcard">I live in <span class="locality">Somerville</span>, <span class="region">MA</span>.</p>
		<p>I like to sail and row boats, play chess, brew beer and read novels.</p>
		<p class="vcard"><em>tweet:</em> <span class="twitter"><a href="https://twitter.com/photocurio">@photocurio</a></span><br>
		<em>email:</em> <span class="email"><a href="mailto:sunraydust@gmail.com" >sunraydust@gmail.com</a></span><br>
		<em>cell:</em> <span class="tel">781&middot;960&middot;7049</span></p>
	</div>
</header>