<header class="content clearfix">
	<div class="hgroup">
		<h1 class="sitename"><a href="/">{{ site.sitename }}</a></h1>
		<h3 class="slogan">{{ site.slogan }}</h2>
		<p class="intro">{{ site.intro }}</p>
	</div>
	<div class="contact">
		<p class="vcard">I live in <span class="locality">Somerville</span>, <span class="region">MA</span>.</p>
		<p>I like to sail boats, play chess, and read novels.</p>
		<p class="vcard"><em>tweet:</em> <span class="twitter"><a href="https://twitter.com/photocurio">@photocurio</a></span><br>
		<em>email:</em> <span class="email"><a href="mailto:sunraydust@gmail.com" >sunraydust@gmail.com</a></span></p>
	</div>
</header>
